.title {
  background: #dd3333;
  color: #fff;
  border-radius: 50px 50px 0px 0px;
  font-size: 30px;
  font-weight: 600;
  h2 {
    &:hover {
      text-decoration: none;
    }
  }
}

.title-catalouge {
  h3 {
    color: #dd3333;
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
}

.Blog-section {
  h2 {
    color: #2f2f2f;
    font-size: 40px;
  }
}

.blog-card {
  background: #f9f9f9;
  h2 {
    font-size: 22px;
    color: #2f2f2f;
  }
  p {
    color: #2f2f2f;
    font-size: 15px;
  }
  .btn-1 {
    background: #af3131;
    color: #fff;
    &:hover {
      background: #f23630;
      color: #fff;
    }
  }
}

// sportswear
.sports-wear {
  .main-heading {
    h2 {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  .sport-waer-heading {
    hr {
      border: 2px solid #dd3333;
      border-radius: 50px;
      margin-top: 0px;
      width: 100px;
    }
  }
  .sports-links {
    hr {
      border: 2px solid #dd3333;
      border-radius: 50px;
      margin-top: 0px;
    }
    li {
      display: inline-block;
      margin: 0px 10px;
      a {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #2f2f2f;
        &:hover {
          color: #dd3333;
          text-decoration: none;
        }
      }
    }
  }
  .work-wears-list {
    ul {
      display: flex;
      overflow-x: auto;
      width: 100%;
      li {
       
        margin: 0px;
        text-align: left;
        padding: 0px 5px;
        a {
          font-size: 13px;
        }
      }
    }
  }
}
