.contact-us-style {
  padding: 70px 0px;
}
.contact-address {
  h3 {
    color: #EA1B25;
    font-weight: 700;
  }
  strong {
    font-weight: 800;
    font-size: 15px;
    margin-right: 10px;
    color: #000;
  }
  p {
    font-size: 15px;
    font-weight: 500;
    color: #727070f6;
  }
}
.contact-form {
  .error {
    color: red;
    font-size: 12px;
  }
  h3 {
    color: #EA1B25;
    font-weight: 700;
  }
  input,
  textarea {
    border: 1px solid silver;
    border-radius: 50px;
    &:focus,
    &:active {
      border: 1px solid #000;
      box-shadow: none;
      outline: none;
    }
  }
  label {
    font-size: 16px;
    font-weight: 700;
  }
  .btn-1 {
    background: #EA1B25;
    border-radius: 2px;
    border: none;
    &:hover {
      background: #EA1B25;
    }
  }
}

.contact-card {
  background: #333E48;
  h3 {
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 14px;
  }
}
